configuration {
    modi: "drun,run";
    show-icons: true;
    terminal: "ghostty";
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    display-drun: "Apps";
    display-run: "Run";
    sidebar-mode: false;
}

@theme "tokyonight"
